:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--light-gray);
  font-family: "Outfit", sans-serif;
}

.bigcontainer {
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  border: 2px groove transparent;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 15px;
  width: 250px;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.bigcontainer img {
  width: 100%;
  border-radius: 15px;
}

.textcontainer {
  margin-bottom: 2rem;
}

.textcontainer p {
  font-size: 15px;
  text-align: center;
  margin: 10px 0 10px 0;
  color: var(--grayish-blue);
}

.textcontainer h1 {
  font-size: 20px;
  color: var(--dark-blue);
}

#text2 {
  margin: 0 10px;
  color: hsl(212, 45%, 89%);
  font-size: 15px;
}

.attribution {
  display: block;
  position: relative;
  top: 110px;
  text-align: center;
  visibility: hidden;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
